@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=DM+Serif+Display&family=Lora&family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=DM+Serif+Display&family=Lora&family=Playfair+Display+SC&display=swap");

header {
 background-color: #E8E9E8; }
  header h1 {
    font-family: 'DM Serif Display', serif !important; }

main .slide {
  margin-top: 10px; }

main .slide img {
  width: 50vw;
  height: 70vh; }

main div h2 {
  font-family: 'Lora', serif !important; }

#form {
  border: 1px solid black;
  text-align: center; }

footer {
  background-color: #E8E9E8;
  text-align: center; }
  footer h1 {
    font-family: 'DM Serif Display', serif !important; }
